.setHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.setHeaderTitle {
  margin: 0;

  &::before {
    content: url('./arrow.svg');
    margin-left: 7px;
    margin-right: 25px;
  }
}

.main {
  padding: 0 65px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.914286px;
}

.parametersWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 510px;
  margin-bottom: 120px;
}

.buttonsWrap {
  display: flex;
  justify-content: space-between;
  max-width: 580px;
  width: 100%;
  margin-left: auto;
}

.setButton {
  width: 287px;
  height: 62px;
  font-size: 24px;

  &:last-child {
    margin-left: 10px;
    border: none;
    color: black;
    background-color: #FFBCA2;
  }
}


@media all and (max-width: 768px) {
  .setHeader {
    padding: 0 20px;
  }

  .main {
    padding: 0 40px;
  }

  .parametersWrap {
    // height: 510px;
    margin-bottom: 130px;
  }

  .buttonsWrap {
    max-width: 100%;
  }

  .setButton {
    width: 295px;
    height: 56px;
    font-size: 24px;
  }
}

@media all and (max-width: 520px) {
  .setHeader {
    padding: 0;
  }

  .main {
    padding: 0 25px;
  }

  .parametersWrap {
    align-items: center;
    height: 490px;
    margin-bottom: 60px;
  }

  .buttonsWrap {
    justify-content: center;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .setButton {
    max-width: 156px;

    &:last-child {
      margin-left: 20px;
    }
  }
}