.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
}

.pageTitle {
  align-self: flex-start;
  font-size: 36px;
  text-transform: capitalize;
}

.scoreSubTitle {
  font-size: 6rem;
  text-align: center;
}

.scoreList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}


@media all and (max-width: 768px) {
  .main {
    padding: 0;
  }
}