@use './vars';


.hoverRotate {
  transition: vars.$transition;

  &:hover {
    transform: rotate(-360deg);
  }
}

.hoverBg {
  transition: vars.$transition;

  &:hover {
    background-color: white;
    color: black;
  }

  &:active {
    border-color: #FFBCA2;
    background-color: #FFBCA2;
    color: black;
  }
}

.hoverOpacity {
  transition: vars.$transition;

  &:hover {
    opacity: vars.$opacity;
  }
}

.gray {
  filter: grayscale(1);
}

.opacity {
  opacity: 0.5;
}

.error {
  width: fit-content;
  margin: 100px auto;
  font-size: 50px;
}

.centerView {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}