@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../assets/fonts/Gilroy-Bold.ttf');
}

@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../assets/fonts/Gilroy-Medium.ttf');
}

@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../assets/fonts/Gilroy-Regular.ttf');
}

@font-face {
	font-family: 'Gilroy-RegularItalic';
	src: url('../assets/fonts/Gilroy-RegularItalic.ttf');
}

@font-face {
	font-family: 'Gilroy-Semibold';
	src: url('../assets/fonts/Gilroy-Semibold.ttf');
}
